<!doctype html>
<html lang="en">
    <head>
        {% include "partials/meta.njk" %}
    </head>
    <body>
        <nav>
            {% include "partials/nav.njk" %}
        </nav>
        <main>
            <article class="h-entry" {% if date and structuredData.type %} itemscope itemtype="https://schema.org/{{ structuredData.type }}" {% endif %}>
                {% block main %}
                    {% if title and not notitle %}
                        <header>
                            {% include "partials/head.njk" %}
                        </header>
                    {% endif %}
                    <div class="e-content">
                        {{ content | safe }}
                    </div>
                {% endblock %}
            </article>
        </main>
        <hr/>
        <footer>
            {% include "partials/foot.njk" %}
        </footer>
    </body>
</html>
