<div>
    <a href="/" style="--i: 1">Home</a>
    <a href="/gearup" style="--i: 2">GearUp</a>
    <a href="/contact" style="--i: 3">Contact</a>
</div>
<div>
    <a href="https://instagram.com" style="--i: 4">Instagram</a>
    <a href="https://opencollective.com" style="--i: 5">Donate</a>
</a>
