---
pagination:
    data: collections.posts
    size: 10
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
eleventyComputed:
    title: "Blog"
---

<div id="posts">
    {%- for item in pagination.items %}
        <article>
            <h2>
                <a href="{{ item.url }}">{{ item.data.title }}</a>
            </h2>
            {% if item.data.description %}
                <p>{{ item.data.description }}</p>
            {% endif %}
        </article>
    {% endfor -%}
</div>
